/* Reset CSS */

* {
  margin: 0;
  padding: 0;
}

/* Main Styling */

html,
body {
  font-family: Lato, sans-serif;
}

/* Utility Classes */

.container {
  margin: auto;
  max-width: 1020px;
}

/* Header Elements */

nav {
  display: flex;
  justify-content: space-between;
  height: 89px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

nav h1 {
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-weight: 700;
  padding-top: 34px;
  padding-left: 40px;
  text-transform: uppercase;
}

nav h1 span {
  color: #f06c64;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 12px;
  line-height: 6px;
  font-weight: 700;
  padding-top: 45px;
  padding-right: 40px;
  text-transform: uppercase;
  width: 371px;
}

nav ul li.dot {
  color: #474c5f;
  font-weight: 900;
}

nav ul a {
  color: #ffffff;
  text-decoration: none;
}

nav ul a:hover {
  color: #f06c64;
}

nav ul a.current {
  color: #f06c64;
}

/* Slider Section */

section#slider {
  height: 600px;
  background-color: #f06c64;
  border-bottom: 15px solid #ea676b;
  position: relative;
}

.chev {
  display: inline-block;
  width: 16px;
  height: 27px;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  top: 282px;
}

.chev-left {
  background-image: url(assets/img/chev-left.svg);
  left: 40px;
}

.chev-left:active {
  background-image: url(assets/img/chev-left-hover.svg);
}

.chev-left:hover {
  opacity: 0.75;
}

.chev-right {
  background-image: url(assets/img/chev-right.svg);
  right: 40px;
}

.chev-right:active {
  background-image: url(assets/img/chev-right-hover.svg);
}

.chev-right:hover {
  opacity: 0.75;
}

.iphone-vertical {
  position: absolute;
  top: 53px;
  left: 111px;
  border-radius: 27px;
  box-shadow: 25px 25px 5px 0px #ce5d56;
}

.iphone-horizontal {
  position: absolute;
  top: 174px;
  left: 425px;
  border-radius: 27px;
  box-shadow: 25px 25px 5px 0px #ce5d56;
}

/* Services Section */

section#services {
  height: 495px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services-title h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  padding-top: 68px;
  padding-left: 40px;
}

.services-title p {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  padding-top: 33px;
  padding-left: 40px;
  padding-right: 40px;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 30px;
}

.services-item {
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
}

.services-logo {
  padding-left: 10px;
  padding-right: 10px;
}

.services-text {
  padding-left: 10px;
  padding-right: 10px;
}

.services-text h3 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
}

.services-text p {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-weight: 400;
  padding-top: 15px;
  text-align: justify;
}
