/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main Styling */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: #e5e5e5;
  font-family: Lato, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

/* Header */
#header {
  position: sticky;
  top: 0;
  height: 95px;
  width: 100%;
  max-width: 1020px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  opacity: 0.95;
  z-index: 10;
}

.toggle {
  position: absolute;
  top: 26px;
  left: 20px;
  height: 20px;
  width: 25px;
  display: none;
  cursor: pointer;
  z-index: 100;
  transition-duration: 0.2s;
}

.toggle div {
  height: 2.4px;
  width: 100%;
  background: #ffffff;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 40px;
  transition-duration: 0.2s;
}

.logo {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 3rem;
  text-transform: uppercase;
  transition-duration: 0.2s;
}

.logo::after {
  content: '*';
  color: #f06c64;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.035em;
  line-height: 1.4rem;
  margin-top: 10px;
  text-transform: uppercase;
}

.menu-item::after {
  content: '·';
  color: #ffffff;
  padding: 0 13.8px;
}

.menu-item:last-child::after {
  content: '';
  padding: 0;
}

.menu-item a {
  color: #ffffff;
}

.menu-item a.active,
.menu-item a:hover {
  color: #f06c64;
}

/* Slider Section */
#home {
  position: relative;
  height: 600px;
  width: 100%;
  scroll-margin-top: 95px;
}

.carousel-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.carousel-slider {
  display: flex;
  height: 100%;
  width: 100%;
}

.slide {
  position: relative;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
}

.slide-1 {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slide-2 {
  background-color: #648bf0;
}

.slide-2 img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.chev {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2.7rem;
  width: 1.6rem;
  background-size: cover;
  cursor: pointer;
}

.chev-left {
  background-image: url(assets/img/chev-left.svg);
  left: 3.92%;
  z-index: 1;
}

.chev-left:active {
  background-image: url(assets/img/chev-left-hover.svg);
}

.chev-left:hover {
  opacity: 0.85;
}

.chev-right {
  background-image: url(assets/img/chev-right.svg);
  right: 3.92%;
  z-index: 1;
}

.chev-right:active {
  background-image: url(assets/img/chev-right-hover.svg);
}

.chev-right:hover {
  opacity: 0.85;
}

/* TODO */
.iphone-vertical {
  position: absolute;
  top: 53px;
  left: 112px;
  border-radius: 27px;
  box-shadow: 25px 25px 2px 0px #ce5d56;
  cursor: pointer;
}

/* TODO */
.iphone-vertical-black {
  display: none;
  position: absolute;
  top: 118px;
  left: 126px;
  height: 333px;
  width: 188px;
  background-color: #000000;
  cursor: pointer;
}

/* TODO */
.iphone-horizontal {
  position: absolute;
  top: 174px;
  left: 425px;
  border-radius: 27px;
  box-shadow: 25px 25px 2px 0px #ce5d56;
  cursor: pointer;
}

/* TODO */
.iphone-horizontal-black {
  display: none;
  position: absolute;
  top: 188px;
  left: 485px;
  height: 188px;
  width: 333px;
  background-color: #000000;
  cursor: pointer;
}

/* Services Section */
#services {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  scroll-margin-top: 50px;
}

.services-title {
  padding: 59px 40px 0 40px;
}

.services-title h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.6rem;
  color: #666d89;
}

.services-title p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  text-align: justify;
  color: #767e9e;
  padding-top: 18px;
}

.services-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 60px 40px 52px 40px;
}

.services-item {
  display: flex;
  height: 104px;
}

.services-logo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.services-text h3 {
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.8rem;
  color: #666d89;
}

.services-text p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  text-align: justify;
  text-overflow: ellipsis;
  color: #767e9e;
  max-height: 75px;
  margin-top: 7px;
  overflow: hidden;
}

/* Portfolio Section */
#portfolio {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  scroll-margin-top: 50px;
}

.portfolio-title {
  padding: 59px 40px 0 40px;
}

.portfolio-title h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.6rem;
  color: #666d89;
}

.portfolio-title p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  color: #767e9e;
  margin-top: 14px;
}

.tags {
  padding: 10px 40px 0 40px;
}

.tag {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
  background-color: #2d303a;
  border: 1px solid #666d89;
  border-radius: 5px;
  color: #767e9e;
  cursor: pointer;
  margin-right: 8px;
  padding: 2px 6px 3px 6px;
}

.tag.active,
.tag:hover {
  border: 1px solid #c5c5c5;
  color: #dedede;
}

.portfolio-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 18px 40px 74px 40px;
}

.portfolio-item {
  height: 100%;
  width: 100%;
}

.portfolio-item:nth-child(n + 13) {
  display: none;
}

.portfolio-item img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

.portfolio-item img.active,
.portfolio-item img:hover {
  outline: 5px dashed #f06c64;
}

/* About Section */
#about {
  background-color: #f2f2f2;
  border-bottom: 5.08px solid #ffffff;
  scroll-margin-top: 50px;
}

.about-title {
  padding: 59px 40px 0 40px;
}

.about-title h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.6rem;
  color: #666d89;
}

.about-title p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  text-align: justify;
  color: #767e9e;
  margin-top: 14px;
}

.about-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 57px 40px 68px 40px;
}

.about-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-item-img {
  height: 100%;
  width: 100%;
}

.about-item-img img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.about-item-text {
  height: 100%;
  margin-top: 17px;
}

.about-item-text h3 {
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.8rem;
  color: #666d89;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.about-item-text p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  margin-top: 7px;
  text-align: justify;
  color: #767e9e;
}

.about-item-icons {
  display: flex;
  height: 32px;
  margin-top: 12px;
}

.icon {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-size: cover;
  margin-right: 8px;
}

.icon-facebook {
  background-image: url('assets/img/facebook.png');
}

.icon-facebook:hover {
  background-image: url('assets/img/facebook-hover.png');
}

.icon-google {
  background-image: url('assets/img/google.png');
}

.icon-google:hover {
  background-image: url('assets/img/google-hover.png');
}

.icon-twitter {
  background-image: url('assets/img/twitter.png');
}

.icon-twitter:hover {
  background-image: url('assets/img/twitter-hover.png');
}

.icon-linkedin {
  background-image: url('assets/img/linkedin.png');
}

.icon-linkedin:hover {
  background-image: url('assets/img/linkedin-hover.png');
}

/* Contact Section */
#contact {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  scroll-margin-top: 50px;
}

.contact-title {
  padding: 59px 40px 0 40px;
}

.contact-title h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.6rem;
  color: #f0d8d9;
}

.contact-title p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  text-align: justify;
  color: #f0d8d9;
  margin-top: 14px;
}

.contact-content {
  display: flex;
  padding: 57px 40px 58px 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 620px;
}

.contact-form input,
.contact-form textarea {
  font-family: Lato, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2rem;
  height: 38px;
  width: 100%;
  margin-bottom: 16px;
  padding: 13px 14px;
  color: #f0d8d9;
  background: #d6564f;
  border: none;
  border-radius: 5px;
  outline: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #f48c8f;
}

.contact-form textarea {
  height: 159px;
  margin-bottom: 14px;
  resize: none;
}

.contact-form button {
  font-family: Lato, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7rem;
  text-align: center;
  height: 38px;
  width: 136px;
  color: #886a30;
  background: #fbc65f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.contact-form button:hover {
  background: #2d303a;
}

.contact-info {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 20px;
}

.contact-info h3 {
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.8rem;
  color: #f0d8d9;
}

.contact-info p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  text-align: justify;
  margin-top: 7px;
  color: #f0d8d9;
}

.contact-info-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
  margin-top: 22px;
  color: #f0d8d9;
}

.contact-info-links a {
  color: #f0d8d9;
  margin-left: 2px;
  margin-bottom: 1px;
}

.contact-info-links a:hover {
  color: #2d303a;
}

.contact-info-links__icon::before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 11px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 9px 11px 0 0;
}

.contact-info-links__map::before {
  background-image: url('assets/img/location.png');
}

.contact-info-links__map:hover::before {
  background-image: url('assets/img/location-hover.png');
}

.contact-info-links__tel::before {
  background-image: url('assets/img/old-phone.png');
}

.contact-info-links__tel:hover::before {
  background-image: url('assets/img/old-phone-hover.png');
}

.contact-info-links__mail::before {
  background-image: url('assets/img/mail.png');
}

.contact-info-links__mail:hover::before {
  background-image: url('assets/img/mail-hover.png');
}

/* Footer */
footer {
  height: 76px;
  background-color: #2d303a;
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 30px 40px 29px 40px;
}

.footer-copyright {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #666d89;
}

.footer-icons {
  display: flex;
  height: 32px;
}

/* Modal background */
#info-block {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: #2d303a;
  opacity: 0.9;
}

/* Modal content */
#info-message {
  display: none;
  background-color: #f06c64;
  border: 1px solid #323746;
  color: #000000;
  margin: 30% auto;
  max-height: 60%;
  max-width: 60%;
  overflow: auto;
  padding: 20px;
  text-align: center;
}

.modal-title {
  margin-bottom: 10px;
}

.modal-text {
  text-align: left;
}

#info-subject {
  max-height: 6rem;
  line-height: 2rem;
  overflow: auto;
  margin-bottom: 10px;
}

#info-text {
  max-height: 30rem;
  line-height: 2rem;
  overflow: auto;
  margin-bottom: 10px;
}

/* Modal button */
#ok-button {
  color: #000000;
  cursor: pointer;
  margin-top: 10px;
  padding: 5px;
}

@media (max-width: 1019px) {
  #home {
    height: 451.76px;
  }

  .slide-1 {
    border-bottom: 4.52px solid #ea676b;
  }

  .slide-2 img {
    height: 80%;
  }

  .chev-left {
    left: 3.8%;
  }

  .chev-right {
    right: 3.8%;
  }

  /* TODO */
  .iphone-vertical {
    height: 344.26px;
    width: 162.36px;
    top: 40.59px;
    left: 11%;
    border-radius: 20px;
    box-shadow: 20px 20px 2px 0px #ce5d56;
  }

  /* TODO */
  .iphone-vertical-black {
    top: 89px;
    left: calc(11% + 10px);
    height: 251px;
    width: 143px;
  }

  /* TODO */
  .iphone-horizontal {
    height: 162.36px;
    width: 344.26px;
    top: 133.43px;
    left: 42%;
    border-radius: 20px;
    box-shadow: 20px 20px 2px 0px #ce5d56;
  }

  /* TODO */
  .iphone-horizontal-black {
    top: 143px;
    left: calc(42% + 45px);
    height: 144px;
    width: 251px;
  }

  #services {
    background-color: #e5e5e5;
    border: none;
  }

  .services-title {
    padding-top: 39px;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5.3rem;
    row-gap: 3.9rem;
    padding-top: 28px;
    padding-bottom: 58px;
  }

  #portfolio {
    border-bottom: 7.6px solid #323746;
  }

  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 28px;
    padding-bottom: 67px;
  }

  #about {
    background-color: #e5e5e5;
    border: none;
  }

  .about-grid {
    padding-bottom: 75px;
  }

  .about-item-text {
    margin-top: 12px;
  }

  .about-item-icons {
    margin-top: 5px;
  }

  #contact {
    border-bottom: 5.79px solid #ea676b;
  }

  .contact-title {
    padding-top: 53px;
  }

  .contact-content {
    padding-top: 19px;
    padding-bottom: 39px;
  }

  .contact-form input,
  .contact-form textarea {
    margin-bottom: 12px;
  }

  .contact-form textarea {
    margin-bottom: 17px;
  }

  .contact-info {
    margin-left: 29px;
  }

  .contact-info p {
    margin-top: 5px;
  }

  .contact-info-links {
    margin-top: 5px;
  }

  .about-title {
    padding-top: 52px;
  }

  .about-grid {
    grid-gap: 1.45rem;
    padding-top: 28px;
  }
}

@media (max-width: 767px) {
  #header {
    height: 71px;
    border-bottom: 3.35px solid #323746;
  }

  #navbar {
    justify-content: center;
  }

  #navbar.burger {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 278px;
    margin: 0;
    padding: 0;
    align-items: baseline;
    background-color: #2d303a;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
  }

  .menu {
    display: none;
  }

  .menu.burger {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0 0 0 71px;
  }

  .menu-item {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.9rem;
    margin-bottom: 27px;
  }

  .menu-item:last-child {
    margin-bottom: 0;
  }

  .menu-item::after {
    content: none;
  }

  #info-block.burger {
    display: block;
    opacity: 0.6;
  }

  .toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .toggle.burger {
    transform: rotate(90deg);
  }

  .logo {
    font-size: 1.9rem;
    line-height: 2.4rem;
  }

  .logo.burger {
    position: absolute;
    top: 24px;
    left: 71px;
  }

  #home {
    height: 220.59px;
  }

  .slide-1 {
    border-bottom: 2.21px solid #ea676b;
  }

  .slide-2 img {
    height: 80%;
  }

  .chev-left {
    left: 1%;
  }

  .chev-right {
    right: 1%;
  }

  /* TODO */
  .iphone-vertical {
    height: 168.1px;
    width: 79.28px;
    top: 19.82px;
    left: 11%;
    border-radius: 9px;
    box-shadow: 9px 9px 2px 0px #ce5d56;
  }

  /* TODO */
  .iphone-vertical-black {
    top: 43px;
    left: calc(11% + 5px);
    height: 124px;
    width: 71px;
  }

  /* TODO */
  .iphone-horizontal {
    height: 79.28px;
    width: 168.1px;
    top: 65.16px;
    left: 41%;
    border-radius: 9px;
    box-shadow: 9px 9px 2px 0px #ce5d56;
  }

  /* TODO */
  .iphone-horizontal-black {
    top: 70px;
    left: calc(41% + 22px);
    height: 71px;
    width: 124px;
  }

  #services {
    background-color: #e5e5e5;
    border: none;
  }

  .services-title {
    padding: 25.41px 43px 0 32px;
  }

  .services-grid {
    grid-template-columns: repeat(1, 1fr);
    column-gap: unset;
    row-gap: 1.5rem;
    padding: 25px 43px 15px 32px;
  }

  #portfolio {
    border: none;
  }

  .portfolio-title {
    padding: 42px 30px 0 30px;
  }

  .tags {
    padding-right: 30px;
    padding-left: 30px;
  }

  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 14px;
    padding: 25px 30px 42px 30px;
  }

  .portfolio-item:nth-child(n + 9) {
    display: none;
  }

  #about {
    background-color: #e5e5e5;
    border: none;
  }

  .about-title {
    padding: 33px 30px 0 30px;
  }

  .about-grid {
    grid-template-columns: repeat(1, 1fr);
    column-gap: unset;
    row-gap: 34px;
    padding: 14px 30px 45px 30px;
  }

  #contact {
    border: none;
  }

  .contact-title {
    padding: 44px 30px 0 30px;
  }

  .contact-content {
    flex-direction: column;
    padding: 19px 30px 42px 30px;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form input,
  .contact-form textarea {
    margin-bottom: 12px;
  }

  .contact-form textarea {
    margin-bottom: 14px;
  }

  .contact-form button {
    height: 50px;
    width: 100%;
  }

  .contact-info {
    width: 100%;
    margin-top: 32px;
    margin-left: 0;
  }

  .footer-inner {
    justify-content: center;
  }

  .footer-copyright {
    display: none;
  }
}
